<?xml version="1.0"?>

<launch>
  <node pkg="vehicle_controller" type="controller_node" name="vehicle_controller" output="screen">
    
    <param name="frame_id" value="map" />
    
    <param name="carrot_distance" value="0.2" />
    <param name="max_controller_speed" value="0.3" />
    <param name="max_unlimited_speed" value="0.3" />
    <param name="max_unlimited_angular_rate" value="0.4" />
    <param name="max_controller_angular_rate" value="0.35" />
    <param name="min_speed" value="0.0" />
    <param name="vehicle_type" value="tracked" />
    <param name="vehicle_control_type" value="differential_steering"/>

    <param name="goal_position_tolerance" value="0.1" />
    <param name="goal_angle_tolerance" value="0.087266463" /><!-- 5 deg -->
    <param name="pd_params" value="PdParams" />

    <param name="wheel_separation" value="0.32" />

    <param name="check_stuck" value="true" />
    <param name="stuck_detection_window" value="4.0" />
  </node>
</launch>


